* {
    margin: 0;
    padding: 0;
}

.top {
    background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DobrDpiGTIRY&psig=AOvVaw3xOmzV2I0Cg9kWIKi-2goa&ust=1668435584366000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCLC0-IOtq_sCFQAAAAAdAAAAABAE');
}